
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: linear-gradient(to right, rgb(105, 105, 227), rgb(211, 147, 211))
}

* {
    -webkit-box-sizing: unset !important;
    -moz-box-sizing: unset !important;
    box-sizing:unset !important;
}

#bootstrap-overrides h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
}

#bootstrap-overrides hr{
    width: 500px;
    border: 2px solid white;
    border-radius: 4px;
}

.score-container-parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1vw;
    padding: 0.5vw 1vw 1vw;
}

.score-container{
    /* background-image: linear-gradient(to right, rgb(105, 105, 227), rgb(211, 147, 211)); */
    width: 90px;
    height: 90px;
    padding: 1px;
    border: 5px solid #2a3f6c;
    border-radius: 15px;
    color: white;
    font-weight: 600;
    display: inline-block;
}

.score-container.new-game{
    color: black;
    width: 8rem;
    height: 3rem;
    background: #bb9cfe;;
    padding: 0.2em 1em;
    outline: none;
}

.score-container.new-game:hover{
    background: #b09adf;
}

.score-container.new-game.how-to {
    width: 9em;
}

.how-to-play-section {
    padding: 1.5vw 1vw;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#best-score, #score {
    font-size: 35px;
    margin: 0;
}

.header {
    margin: 0.51em;
}

#board{
    width: 399px;
    height: 400px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#game-over{
    display: block;
    visibility: hidden;
    position: absolute;
    padding: 132px 117px;
    color: white;
    font-size: 30px;
    z-index: 5;
    font-weight: 600;
}

#try-again{
    display: block;
    visibility: hidden;
    position: absolute;
    color: white;
    font-size: 18px;
    z-index: 5;
    font-weight: 600;
    background: #6945b4;
    border-radius: 6px;
    margin-top: 206px;
    margin-left: 150px;
}

.tile {
    width: 90px;
    height: 90px;
    border: 5px solid #2a3f6c;
    border-radius: 15px;

    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
@keyframes show{
    0% {
        opacity: 0.5;
        transform: scale(0);
    }
}

.carousel-item{
    min-height: 280px;
}

.x2 {
    background-color: rgb(46, 142, 194);
    color: black;
    animation: show 100ms ease;
    transition: 500ms ease-in-out;    
}

.x4{
    background-color: rgb(114, 23, 170);
    color: white;
    animation: show 100ms ease;
    transition: 100ms ease-in-out;
}

.x8 {
    background-color: rgb(126, 68, 157);
    color: white;
    animation: show 100ms ease;
    transition: 500ms ease-in-out; 
}

.x16 {
    background-color: rgb(163, 44, 185);
    color: #000; 
    animation: show 100ms ease;
    transition: 500ms ease-in-out; 
}

.x32 {
    background-color: rgb(151, 34, 124);
    color: #fff;
    animation: show 100ms ease;
    transition: 500ms ease-in-out; 
}

.x64 {
    background-color: rgb(75, 180, 212);
    color: #000;
    animation: show 100ms ease;
    transition: 500ms ease-in-out; 
}

.x128 {
    background-color: #d75acc;
    color: #000;
    animation: show 100ms ease;
    transition: 500ms ease-in-out; 
}

.x256 {
    background-color: #5474c6;
    color: #000;
    animation: show 100ms ease;
    transition: 500ms ease-in-out; 
}

.x512 {
    background-color: #639fd4c4;
    color: #000;
    animation: show 100ms ease;
    transition: 500ms ease-in-out; 
}

.x1024 {
   
    background-color: #9f1fff;
    color: #fff;
    animation: show 100ms ease;
    transition: 500ms ease-in-out; 
}

.x2048 {
    background-color: #ae71bc;
    color: #fff;
    animation: show 100ms ease;
    transition: 500ms ease-in-out; 
}

.x4096{
    background-color: #c29be4;
    color: #000;
    animation: show 100ms ease;
    transition: 500ms ease-in-out; 
}

.x8192{
    background-color: #b64084;
    color: #fff;
    animation: show 100ms ease;
    transition: 500ms ease-in-out; 
}
